<div class="todo-container">
<div class="add-task">
  <input [(ngModel)]="task" placeholder="Enter a new todo or search" [formControl]="formControl">

  <button [hidden]="!formControl.valid" (click)="addTodo()">Add Todo</button>
  <button type="button" (click)="searchTodo()">Search</button>

</div>
  <div class="warn" *ngIf="formControl.invalid">todo is required</div>
<ul class="task-list">
  <li
    *ngFor="let todo of todos" [ngClass]="{'completed':todo.isCompleted}">
    <input
      type="checkbox"
      [checked]="todo.isCompleted"
      (change)="updateTodo(todo)"/>
     <span [class.completed]="todo.isCompleted"> {{todo.title}}</span>
     <button (click)="deleteTodo(todo.id)">Delete</button>
  </li>
</ul>
</div>
